---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659188980
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659188980","Moon":["Thunder
        Moon"],"Index":1,"Age":1.6747252763841034006730978944688104093074798583984375,"Phase":"Waxing
        Crescent","Distance":398632.03000000002793967723846435546875,"Illumination":0.0299999999999999988897769753748434595763683319091796875,"AngularDiameter":0.499604007497035096374560225740424357354640960693359375,"DistanceToSun":151861745.3835175335407257080078125,"SunAngularDiameter":0.525182618615262608585680936812423169612884521484375}]'
  recorded_at: Sat, 30 Jul 2022 13:49:40 GMT
recorded_with: VCR 6.1.0
