---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659113304
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659113304","Moon":["Thunder
        Moon"],"Index":0,"Age":0.87088420028462432131988180117332376539707183837890625,"Phase":"New
        Moon","Distance":401297.8099999999976716935634613037109375,"Illumination":0.01000000000000000020816681711721685132943093776702880859375,"AngularDiameter":0.49628518927060405463436154605005867779254913330078125,"DistanceToSun":151877291.5937553942203521728515625,"SunAngularDiameter":0.5251288607472062164305270925979129970073699951171875}]'
  recorded_at: Fri, 29 Jul 2022 16:48:24 GMT
recorded_with: VCR 6.1.0
