---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659199633
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659199633","Moon":["Thunder
        Moon"],"Index":1,"Age":1.788552929834147153798085128073580563068389892578125,"Phase":"Waxing
        Crescent","Distance":398211.5900000000256113708019256591796875,"Illumination":0.040000000000000000832667268468867405317723751068115234375,"AngularDiameter":0.5001314909721952250976073628407903015613555908203125,"DistanceToSun":151859516.6820151507854461669921875,"SunAngularDiameter":0.5251903262342298983611499352264218032360076904296875}]'
  recorded_at: Sat, 30 Jul 2022 16:47:13 GMT
recorded_with: VCR 6.1.0
