---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659188978
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659188978","Moon":["Thunder
        Moon"],"Index":1,"Age":1.6747039228534139621018539401120506227016448974609375,"Phase":"Waxing
        Crescent","Distance":398632.099999999976716935634613037109375,"Illumination":0.0299999999999999988897769753748434595763683319091796875,"AngularDiameter":0.499603909821885128206275794582325033843517303466796875,"DistanceToSun":151861745.8010024130344390869140625,"SunAngularDiameter":0.52518261717147696199248230186640284955501556396484375}]'
  recorded_at: Sat, 30 Jul 2022 13:49:38 GMT
recorded_with: VCR 6.1.0
