---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659113303
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659113303","Moon":["Thunder
        Moon"],"Index":0,"Age":0.87087362974895743406023029820062220096588134765625,"Phase":"New
        Moon","Distance":401297.8400000000256113708019256591796875,"Illumination":0.01000000000000000020816681711721685132943093776702880859375,"AngularDiameter":0.496285150533329277866556594744906760752201080322265625,"DistanceToSun":151877291.79586589336395263671875,"SunAngularDiameter":0.525128860048391654657962135388515889644622802734375}]'
  recorded_at: Fri, 29 Jul 2022 16:48:23 GMT
recorded_with: VCR 6.1.0
