---
http_interactions:
- request:
    method: get
    uri: https://api.farmsense.net/v1/moonphases/?content_type=application/json&d=1659188529
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"Error":0,"ErrorMsg":"success","TargetDate":"1659188529","Moon":["Thunder
        Moon"],"Index":1,"Age":1.6699101838549648135767711210064589977264404296875,"Phase":"Waxing
        Crescent","Distance":398649.5900000000256113708019256591796875,"Illumination":0.0299999999999999988897769753748434595763683319091796875,"AngularDiameter":0.499581994566225595644226586955483071506023406982421875,"DistanceToSun":151861839.518026828765869140625,"SunAngularDiameter":0.52518229307062114230575389228761196136474609375}]'
  recorded_at: Sat, 30 Jul 2022 13:42:10 GMT
recorded_with: VCR 6.1.0
