<div class="side-bar-right col-sm-3 recommendation-container rounded flex">

  <div class="card  vh-70 mx-auto my-auto" style="width: 18rem;">
    <br></br>
    <div class="container">
      <img src="https://moonphase.guide/module/MVitCdDJoN21yWGNDaU5uL2ZKQjVMRkI1UVptSFMxMGZyQW9FQzRKV2d3NUhGWlpZV3RmSzRMMW56bVBFNWt0clJKM21uTTRiTVFBZWpHM0RLVklYcWc9PQ.png"/>
    </div>
    <div class="card-body">
      <p class="card-text"><%= @recommendation %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Illumination:
        <%= @moon_data.illumination %>%</li>
      <li class="list-group-item">Moon Name:
        <%= @moon_data.name %></li>
    </ul>

  </div>
</div>

<!-- <div class="recommendation-container rounded"> <div class="row"> <div class="col"> <%# <%= @recommendation %> %> </div> </div> </div> <div class="widget"> <iframe allowtransparency="yes" scrolling="no" style="border: 0px solid #FFFFFF;
width:190px; height:302px; overflow: hidden;" src="https://in-the-sky.org/widgets/moonphase.php?skin=0"></iframe> </div> -->