<div class="side-bar-right col-sm-3 text-center">

    <% weather = get_weather %>
    <div class="card d-flex" style="width: 18rem;">
    <div class="container">
      <img class="weather-image rounded" src="http://openweathermap.org/img/wn/<%= weather.icon %>@2x.png">
      <div class="card-body">
        <h5 class="card-title">Today's Weather</h5>
        <p class="card-text">Today's temperature is a soothing <strong><%= weather.temp %></strong> with a mix of <strong><%= weather.main %></strong> and then some <strong><%= weather.description %></strong></p>
      </div>
    </div>
</div>