<div class="container text-center d-flex" style="max-height: 100%">
  <div class="side-bar-left col-sm-3 mw-100">
    <div class="logo">
      <%= render inline: Rails.root.join('public/moon-garden-logo.svg').read %>
    </div>

  </div>

  <div class="dash-main-bar col-sm-10" style="max-height: 100%">
    <%= render partial: "shared/header" %>
    <div class="about dash-container">
      <br>
      <br>
        <h1 class="display-1">About Moon Garden</h1>
      <br>
      <br>
    </div>
    <div class="dash-container">

      <div class="d-flex flex-column mb-3">
        <div class="p-2">
        <div class="container text-center">
          <div class="row-1">
            <div class="moon-garden col-md-6 rounded"><h1 class="moon display-6">Moon Garden...</h1><p class="lead">helps you track your gardens and plants while offering recommendations based on the moon phase at every step of the way</p></div>
            <div class="col-md-9"><img src="https://i.pinimg.com/originals/87/6a/36/876a3699b5d3065b78fd6e1955048e38.jpg" class="img-fluid"></div>
            <br>
            <div class="lunar-garden col-md-9 rounded"><h1 class="display-6"> About Lunar Gardening</h1><p class="lead">The tradition of lunar gardening has been practiced for as long as folks have been planting seeds and working the soil. It is believed by many cultures that the combination of the illumination of the moon and gravitational effect of the moon on earths waters impact the gardening process. Moon Garden gives recommendations based on the various phases of the moon and provides garden tracking services for users.</p></div>
            <div class="land-ack col-md-7 rounded"><h1 class="display-6">About Land Acknowledgments</h1> <p class="lead">When working with the land it is important to acknowledge who's land it is that is being worked. If you're curious about the history of your land, checkout our Land Acknowledgment page - link - gracefully provided by: link</p></div>
        </div>
       </div> 
        </div>
      </div>
    </div>
  </div>
  <%= render partial: "shared/moon_widget" %>
  <%= render partial: "shared/weather_widget" %>
  
</div>