<div class="container text-center d-flex" style="max-height: 100%">
  <div class="side-bar-left col-sm-3 mw-100">
    <h4>Moon Garden</h4>
    <img src="https://www.drawingwars.com/assets/img/cartoons/how-to-draw-a-crescent-moon-step-by-step/how-to-draw-a-crescent-moon-step-by-step_transparent.png?ezimgfmt=ng%3Awebp%2Fngcb1" class="moon-logo img-fluid" alt="Responsive image">
  </div>

  <div class="main-bar col-sm-7 border rounded" style="max-height: 100%">
    <%= render partial: "shared/header" %>
    <div class="col s12 m6 offset-m3 center-align">
      <!-- <a class="oauth-container btn darken-4 white black-text" href='/auth/google_oauth2' style="text-transform:none"> <div class="left"> <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/> </div> Login with Google </a> -->
    </div>
    <h1>About Moon Garden</h1>
    <img src="https://t4.ftcdn.net/jpg/00/54/94/85/360_F_54948516_QrzOHCgi3S9kl5HY18f1QZVzQ4TrEe6U.jpg" class="img-fluid" alt="Responsive image">
    The tradition of lunar gardening has been practiced for as long as folks have been gardening. It is believed by many cultures that the combination of the illumination of the moon and gravitational effect of the moon on earths waters impact the
    gardening process. Moon Garden gives recommendations based on the various phases of the moon and provides garden tracking services for users.

    <p>When working with the land it is important to acknowledge who's land it is that is being worked. If you're curious about the history of your land, checkout our Land Acknowledgment page - link - gracefully provided by: link</p>
  </div>

  <div class="side-bar-right col-sm-3">
    EAT CHEESE AND SIN
    <p>CRUSH ASS</p>
  </div>
</div>