<div class="container text-center d-flex" style="max-height: 100%">
    <div class="side-bar col-sm-3 mw-100">
      EAT
    </div>

    <div class="main-bar col-sm-7 border rounded" style="max-height: 100%">
      <h1>About Moon Garden</h1>
      <img src="https://www.almanac.com/sites/default/files/image_nodes/moon-phase.png" class="img-fluid" alt="Responsive image">
      The tradition of lunar gardening has been practiced for as long as folks have been gardening. It is believed by many cultures that the combination of the illumination of the moon and gravitational effect of the moon on earths waters impact the gardening process. Moon Garden gives recommendations based on the various phases of the moon and provides garden tracking services for users. 
      
      <p>When working with the land it is important to acknowledge who's land it is that is being worked. If you're curious about the history of your land, checkout our Land Acknowledgment page - link - gracefully provided by: link</p>
      <div class="col s12 m6 offset-m3 center-align">
        <a class="oauth-container btn darken-4 white black-text" href='/auth/google_oauth2' style="text-transform:none">
        <div class="left">
            <img width="20px" style="margin-top:7px; margin-right:8px" 
                 alt="Google sign-in" 
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            />
        </div>
              Login with Google
        </a>
      </div>
    </div>

    <div class="side-bar col-sm-3">
      SIN
    </div>
</div>