
body {
  background-color: #8D818C;
}

 .logo {
   margin-top: 60px;
   margin-left: 30px;
   margin-right: 30px;
 }
 .container-fluid{
  height: 100vh;
 }

 .side-bar-left {
  background-color: #8D818C;
 }

 .side-bar-right {
  background-color: #8D818C;
 }

 .main-bar {
  background-color: #E9EBF8;
 }

 /* .moon-logo {
  height: 50px;
  width: 50px;
 } */


 .dash-container {
  background-color: #E9EBF8;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
 }

 .accordion-item {
    background-color: #B4B8C5;
    margin-bottom: 20px;
 }
 .accordion-button {
    background-color: #B4B8C5;
 }
 
 .dash-main-bar {
   background-color: #8D818C;
 }

 .dash-main-bar h1 {
   margin-bottom: 20px;
   color: #897487;
 }
 .dash-container img {
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
   border-radius: 50%;
 }

 .accordion-body {
   text-align: left;
 }

 .recommendation-container {
   background-color: #E9EBF8;
   margin-left: 25px;
   margin-right: 25px;
   margin-bottom: 25px;
   margin-top: 25px;
   padding: 10px;
 }

.landing-widget {
  border: 3px solid #E9EBF8;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 2px;
  background-color: #e9ebf874;
 }

.widget {
  border: 3px solid #E9EBF8;
  border-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 90px;
  padding: 2px;
  background-color: #e9ebf874;
}

.header-container {
  background-color: #E9EBF8;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 10px;
 }

 /* .iframe {
  color: #E9EBF8;
 } */

 /* .btn {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet);
  --bs-btn-border-color: var(--bd-violet);
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($bd-violet, 10%)};
  --bs-btn-hover-border-color: #{shade-color($bd-violet, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($bd-violet, 20%)};
  --bs-btn-active-border-color: #{shade-color($bd-violet, 20%)};
} */