/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container-fluid{
  height: 100vh;
 }

 .side-bar-left {
  background-color: #8D818C;
 }

 .side-bar-right {
  background-color: #8D818C;
 }

 .main-bar {
  background-color: #E9EBF8;
 }

 .moon-logo {
  height: 50px;
  width: 50px;
 }

 .accordion-item {
    background-color: #B4B8C5;
    margin-bottom: 20px;
 }
 .accordion-button {
    background-color: #B4B8C5;
 }
 
 .dash-main-bar {
   background-color: #E9EBF8;
   padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
 }

 .dash-main-bar h1 {
   margin-bottom: 20px;
   color: #897487;
 }
 .dash-main-bar img {
   width: 150px;
   height: 150px;
   margin-bottom: 20px;
   border-radius: 50%;
 }

 .accordion-body {
   text-align: left;
 }

 .recommendation-container {
   background-color: rgb(225, 225, 225, .5);
   margin-left: 25px;
   margin-right: 25px;
   padding: 10px;
 }

