<div class="container-fluid">
    <img src="https://media0.giphy.com/media/XPydpT9cmZaUxF23iX/200w.gif?cid=82a1493bl048mxe59bpulzhggtlpt47wjwklhgxl94gxgcs5&rid=200w.gif&ct=g" alt="moon winking and showing their butt">
    <p class="display-4 text-center">Contributors:</p>
    <br>
    <div class="container text-center display-6">
      <div class="row">
        <a href="https://www.linkedin.com/in/andrewkingdev/" style="color:grey">
          <div class="col-md-4">Andrew King</div>
        </a>
        <a href="https://www.linkedin.com/in/bryce-wein/" style="color:grey">
          <div class="col-md-4 ms-auto">Bryce Wein</div>
        </a>
      </div>
      <div class="row">
        <a href="https://www.linkedin.com/in/casey-fazio-7ba04149/" style="color:grey">
        <div class="col-md-15 ms-md-auto">Casey Fazio</div>
        </a>
        <a href="https://www.linkedin.com/in/jenniferlhalloran/" style="color:grey">
        <div class="col-md-5 ms-md-auto">Jenn Halloran</div>
        </a>
      </div>
      <div class="row">
        <a href="https://www.linkedin.com/in/jim-riddle-b6718037/" style="color:grey">
          <div class="col-md-5 me-auto">Jim Riddle</div>
        </a>
        <a href="https://www.linkedin.com/in/stephen-wilkens/" style="color:grey">
        <div class="col-md-15 ms-auto">Stephen Wilkins</div>
        </a>
      </div>
    </div>
</div>
